
    <h3 class="mt-4"> Filter By Brand and location </h3>


<div *ngIf="brands" id="mySort" class="btn-group m-2" role="group" >
  <button *ngFor="let brand of brands" type="button" (click)="onSelectedBrand(brand)" class="btn btn-light">{{ brand }}</button>
</div>

<div *ngIf="locations" id="mySort1" class="btn-group" role="group" >
  <button *ngFor="let location of locations" type="button" (click)="onSelectLocation(location)" class="btn btn-light">{{ location }}</button>
  <button class="btn btn-dark" type="button" (click)=clearLocation();clearBrand()>All</button>

</div>



<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let Mychoice of Mychoices | filter: [selectedLocation, selectedBrand]">

    <h3 class="card-title"> {{Mychoice.markCamera}}</h3>
    <div class="card">
      <img style="width: 100%" src="{{Mychoice.picture}}">

      <br/>

      <div class="card-content">
        <h4 class="card-text"> Model of Camera : {{Mychoice.modelCamera}}</h4>
        <h5 class="card-text">Type : {{Mychoice.typePhoto}} </h5>
        <h6 class="card-text"> Place : {{Mychoice.placePhoto}}</h6>

      </div>


      <div class="card-read-more">
        <a (click)="getData(Mychoice.markCamera, Mychoice.modelCamera, Mychoice.typePhoto, Mychoice.placePhoto)" class="btn btn-link btn-block "
          routerLink='/update-setting'>
          Update
        </a>
        <a (click)="removeSetting(Mychoice.markCamera, Mychoice.modelCamera, Mychoice.typePhoto, Mychoice.placePhoto);refresh()"
          class="btn btn-link btn-block text-danger" >
          Delete
        </a>
      </div>
    </div>
  </div>
</div>
